<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>LMS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>button.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>bb</display-name>
    <servlet-name>bb</servlet-name>
    <servlet-class>Servlet.bb</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>bb</servlet-name>
    <url-pattern>/bb</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookServlet</display-name>
    <servlet-name>BookServlet</servlet-name>
    <servlet-class>servlet.BookServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookServlet</servlet-name>
    <url-pattern>/BookServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserServlet</display-name>
    <servlet-name>UserServlet</servlet-name>
    <servlet-class>servlet.UserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserServlet</servlet-name>
    <url-pattern>/UserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LibrarianServlet</display-name>
    <servlet-name>LibrarianServlet</servlet-name>
    <servlet-class>servlet.LibrarianServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LibrarianServlet</servlet-name>
    <url-pattern>/LibrarianServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BorrowServlet</display-name>
    <servlet-name>BorrowServlet</servlet-name>
    <servlet-class>servlet.BorrowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BorrowServlet</servlet-name>
    <url-pattern>/BorrowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FineServlet</display-name>
    <servlet-name>FineServlet</servlet-name>
    <servlet-class>servlet.FineServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FineServlet</servlet-name>
    <url-pattern>/FineServlet</url-pattern>
  </servlet-mapping>
</web-app>